.section-about {
  background-color: whitesmoke;
  background-size: cover;
}

.body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 35px;

}

.subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;

}

.introduce {
  text-align: center;
  font-size: 20px;
}
