h3 {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 1rem;
  letter-spacing: 1px;
  font-size: 4.3rem;
  text-align: center;
  color: black;

}

.section-projects {
  background: #aec6cf;
}

.card-container {
  padding: 2%;

}