.crop {
  display: block;
  margin: 8% auto 8%;
  color: blue;
}

.skill-card{
  background: white;
  border-radius: 15px 50px 30px;
}

.section-skills{
  background-color: whitesmoke;
  background-size: cover;
}
.card-divider{
  margin: auto ;
  border-top: 3px solid red;
  width: 80%;
}
h5{
  text-align: center;
  padding-bottom: 3%;
}
.padding-deck{
  padding-left: 2%;
  padding-right: 2%;
}
.card-text{
  text-align: center;
  margin:1%;
}
