.crop {
  display: block;
  margin: 8% auto 8%;
  color: black;
}

.framework-skill-card {
  background: #779ecb;
  border-color: #779ecb;
  border-radius: 15px 50px 30px;

}

.programing-skill-card {
  background: #40B5BC;
  border-color: #40B5BC;
  border-radius: 15px 50px 30px;
}

.tool-skill-card {
  background: #42ABC5;
  border-color: #42ABC5;
  border-radius: 15px 50px 30px;
}

.section-skills {
  background-color: whitesmoke;
  background-size: cover;
}

.card-divider {
  margin: auto;
  border-top: 3px solid #aec6cf;
  width: 80%;
}

h5 {
  text-align: center;
  padding-bottom: 3%;
  color: black;
}

.padding-deck {
  padding-left: 2%;
  padding-right: 2%;
  color: white;
}

.card-text {
  text-align: center;
  margin: 1%;
}
